.boxinfo {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  margin-top: 105px;
  margin-bottom: 70px;
  border-radius: 10px;
  padding: 67.5px 80px;
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.06);

  padding: 67.5px 80px;

  .box-info-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .box-info-list-item {
    display: flex;
    align-items: center;
    font-family: "Rubik", sans-serif;
    color: #4f5665;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    position: relative;

    div {
      margin-left: 36.5px;
    }

    img {
      width: 50px;
      height: 50px;
    }

    span {
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      color: #0b132a;
    }

    p {
      margin: 4px 0 0;
      font-size: 20px;
      line-height: 30px;
    }
  }
  .box-info-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -140px;
    top: 50%;
    transform: translateY(-50%);
    height: 125px;
    width: 1px;
    background-color: rgba(238, 239, 242, 1);
  }
}
